<table class="content" style="width:517px;">
	<tr>
		<td colspan="4">Hoje <%=Date.today.strftime('%d/%m')%>,</td>
	</tr>

	<% if not @unconfirmed_appointments.nil? and @unconfirmed_appointments.size > 0 %>
		<% @unconfirmed_appointments.each do |appointment| %>	
			<% if (Time.now.utc - appointment.created_at) >  18000 %>
			   <tr style="font-weight:bold;">
					<td>
						<%= appointment.doctor %>
					</td>
					<td>
						<%= appointment.date.strftime('%H:%M') %>
					</td>
					<td>
						<%= appointment.client %>
					</td>
					<td>
						<%= appointment.status %>
					</td>
				</tr>
			<% else %>
			   <tr>
					<td>
						<%= appointment.doctor %>
					</td>
					<td>
						<%= appointment.date.strftime('%H:%M') %>
					</td>
					<td>
						<%= appointment.client %>
					</td>
					<td>
						<%= appointment.status %>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% else  %>
		<tr>
			<td colspan="4">nenhuma consulta está pendente.</td>
		</tr>
	<% end %>
	<tr>
		<td colspan="4">
			<%= will_paginate @unconfirmed_appointments, :prev_label=>"anterior",  :next_label=>"próximo", :param_name => 'conf_page' %>
		</td>
	</tr>

</table>




