<tr>
    <td><%= @appointment.client %></td>
	<td><%= @appointment.date.strftime("%d/%m/%Y") %></td>
	<td><%= @appointment.status %></td>
	<td>
		<%= link_to '[remover]', {:action=>"destroy", :controller=>"appointments", :id=>@appointment.id}, :remote=>true %>&nbsp;
		<%= link_to '[editar]', {:action=>"edit", :controller=>"appointments", :id=>@appointment.id}, :remote=>true %>
	</td>
</tr>
