<% unless @appointments.nil? %>
	<% @appointments.each do |appointment| %>
	 <tr>
	    <td><%= appointment.client %></td>
		<td><%= appointment.date.strftime("%d/%m/%Y") %></td>
		<td><%= appointment.status %></td>
		<!-- <td>
				<%= link_to '[remover]', appointment, :method=>'delete', :remote=>true%>&nbsp;
				<%#= link_to '[editar]', {:action=>"edit", :controller=>"appointments", :id=>appointment.id}, :remote=>true %>
			</td> -->
	 </tr>
	<% end %>
<% else %>
	<tr>
		<td colspan="3"><center>Não há consultas cadastradas.</center></td>
	</tr>
<% end %>
<tr>
	<td style="text-align:center;" colspan="4">
		<%= will_paginate @appointments, :prev_label=>"anterior",  :next_label=>"próximo"  %>
	</td>
</tr>
