<%= form_for(@appointment, :remote=>true) do |f| %>
<%= javascript_include_tag "jquery-ui-1.8.9.custom.min" %>
<%= javascript_include_tag "jquery.maskedinput-1.2.2" %>
<script type="text/javascript">
	$(function() {
		$("#date").datepicker({dateFormat: 'dd/mm/yy'});
		$('#date').datepicker('setDate', new Date('<%= Time.now() %>'));
		$('#appointment_doctor').val("");
		$('#appointment_client').val("");
		$('#appointment_date').val("");
		$('#appointment_celular').val("");
	});
	
</script>

<% if @appointment.errors.any? %>
<div id="error_explanation">
	<span class="error-span"><%= pluralize(@appointment.errors.count, "error") %> impediu que essa consulta fosse salva:</span>

	<ul>
		<% @appointment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<table class="center">
	<tr>
		<td>Médico:</td><td colspan="3"><%= f.text_field :doctor%></td>
		<td>Paciente:</td><td><%= f.text_field :client%></td>
	</tr>
	<tr>
		<td>Data:</td><td><%= text_field_tag "date", {}, :class=>"input_date" %></td>
			<td> às </td>
			<td>
				<%= select_tag 'hour', 
				            options_for_select([['7:00', '7:00'],
												['7:30', '7:30'],
												['8:00', '8:00'],
												['8:30', '8:30'],
												['9:00', '9:00'],
												['9:30', '9:30'],
												['10:00', '10:00'],
												['10:30', '10:30'],
												['11:00', '11:00'],
												['11:30', '11:30'],
												['12:00', '12:00'],
												['12:30', '12:30'],
												['13:00', '13:00'],
												['13:30', '13:30'],
												['14:00', '14:00'],
												['14:30', '14:30'],
												['15:00', '15:00'],
												['15:30', '15:30'],
												['16:00', '16:00'],
												['16:30', '16:30'],
												['17:00', '17:00'],
												['17:30', '17:30'],
												['18:00', '18:00'],
												['18:30', '18:30'],
												['19:00', '19:00'],
												['19:30', '19:30'],
												['20:00', '20:00'],
												['20:30', '20:30'],
												['21:00', '21:00']]) %>
			</td>
		<td>Celular:</td><td><%= f.text_field :celular%></td>

	</tr>
</table>

<br/>
<%= hidden_field_tag :status,  Appointment::TO_SEND%>
&nbsp;
<div id="post_errors" style="display:none"></div>
<div id="flash_notice" style="display:none"></div>
<br>
<div id="center">
    
	<input id="add" type="submit" value="adicionar" class="ok" onclick="hide_add_button();"/>
	<%= image_tag 'carregando.gif', :id=>"carregando", :style=>"display:none;"%>
</div>
<% end %>

<script>
    $("#appointment_celular").mask("(99)9999.9999");
</script>
