<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>ConfirmeFacil</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<!--header-->
<div id="header">
	<div id="logo">
		<h1><span>Confirme</span>Fácil</h1>
	</div>
</div>
<!--end header-->

<!--content-->
<div id="page">
	<div id="menu" class="center">
		<ul>
			<li class="sidebar">Consultas</li>
			<li class="content">
				<%= link_to "Confirmações","get_unconfirmed_appointments", :remote=>true %>
			</li>
		</ul>
	</div>
	<div id="content_wrapper">
		<div id="sidebar">
			<%= yield :appointments %>
		</div>
		<div id="content">
			<%= render :partial=>"confirmations/unconfirmed_appointments" %>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
<!--end content-->


<!--footer-->
<div id="footer">
	<p>Copyright (c) 2011 <a href="http://uanatec.com.br/">Uaná Tecnologia</a></p>
</div>
<!--end footer-->
</body>
</html>
